body{
    background:#bdbdbd;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
div{
    box-sizing: border-box;
}
header {
    background:white;
    padding:20px;
}
header h1{
    margin:0;
}
div.post{
    background:white;
    margin-top:50px;
}
div.post img{
    width:100%;
}
div.post h2, div.post p{
    padding: 10px;
    margin:0;
}
div.container{
    width:600px;
    margin:auto;
}
div.post .head div:first-child{
    display:inline-block;
    width: 80%;
}
div.post .head div:last-child{
    display:inline-block;
    width: 20%;
    text-align:right;
    padding:10px;
    color:gray;
}
div#last-post{
    margin-bottom:50px;
}